<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 실제 매핑되는 클래스의 경로 이다(하단 소스 참조) -->

<mapper namespace="com.mytest.DAO.MemberMapper">

	<!-- <cache-ref namespace=""/> -->

	<resultMap type="Member" id="MembersResultMap">

		<result property="idx" column="idx" />

		<result property="name" column="name" />

		<result property="eamil" column="eamil" />

		<result property="gender" column="gender" />

	</resultMap>



	<!-- select -->

	<select id="getMember" resultMap="MembersResultMap">

		select * from members

	</select>



	<!-- insert -->

	<insert id="insertMember" parameterType="com.mytest.DAO.Member">

		insert into members
		values ( #{name},#{email},#{gender})

	</insert>



	<update id="updateMember"></update>



	<delete id="deleteMember" parameterType="com.mytest.DAO.Member">

	</delete>

</mapper>
